In [1]:
import sqlite3
import sys
import csv
import pandas as pd
import numpy as np

In [2]:
def printhr():
 
    try:
        result = theCursor.execute("SELECT start_time,end_time,awake,deep,light FROM sleep")
        with open("sleep.csv","w") as f:
            wr = csv.writer(f,delimiter='\n')
            wr.writerow(result)
            print("Check Your Directory for the CSV")  
            f.close()
            
    except sqlite3.OperationalError:
        print("The Table Doesn't Exist")
 
    except:
        print("Couldn't Retrieve Data From Database")
 
db_conn = sqlite3.connect('db.sqlite')
print("Database Created")
theCursor = db_conn.cursor()
printhr()

Database Created
Check Your Directory for the CSV

In [4]:
s=pd.read_csv('sleep.csv')
s.columns=["sleep start","sleep end","awake","deep sleep","light sleep"]

In [6]:
s.head(5)

   sleep start   sleep end  awake  deep sleep light sleep
0  (1500080220  1500093000      0         104        109)
1  (1500195600  1500214920      0         116        206)
2  (1500280740  1500303000      2         200        169)
3  (1500367020  1500387180      0         152        184)
4  (1500632160  1500652200      0         192        142)

In [8]:
s['sleep start'] = s['sleep start'].apply(lambda x: np.int(x.replace("(","")))
s['light sleep'] = s['light sleep'].apply(lambda x: np.int(x.replace(")","")))

In [9]:
s.head(5)

   sleep start   sleep end  awake  deep sleep  light sleep
0   1500080220  1500093000      0         104          109
1   1500195600  1500214920      0         116          206
2   1500280740  1500303000      2         200          169
3   1500367020  1500387180      0         152          184
4   1500632160  1500652200      0         192          142

In [10]:
s['sleep start'] = pd.to_datetime(s['sleep start'],unit='s')
s['sleep end'] = pd.to_datetime(s['sleep end'],unit='s')

In [11]:
s.head(5)

          sleep start           sleep end  awake  deep sleep  light sleep
0 2017-07-15 00:57:00 2017-07-15 04:30:00      0         104          109
1 2017-07-16 09:00:00 2017-07-16 14:22:00      0         116          206
2 2017-07-17 08:39:00 2017-07-17 14:50:00      2         200          169
3 2017-07-18 08:37:00 2017-07-18 14:13:00      0         152          184
4 2017-07-21 10:16:00 2017-07-21 15:50:00      0         192          142

In [13]:
s['totalsleep']=(s['awake']+s['deep sleep']+s['light sleep'])

In [17]:
s.to_csv('pro\sleep1.csv',index=False)

In [ ]:
()