In [1]:
import sqlite3
import sys
import csv
import pandas as pd
import numpy as np

In [2]:
def printsteps():
 
    try:
        result = theCursor.execute("SELECT time,intensity,steps,category FROM steps")
        with open("steps.csv","w") as f:
            wr = csv.writer(f,delimiter='\n')
            wr.writerow(result)
            print("Check Your Directory for the CSV")  
            f.close()
            
    except sqlite3.OperationalError:
        print("The Table Doesn't Exist")
 
    except:
        print("Couldn't Retrieve Data From Database")
 
db_conn = sqlite3.connect('db.sqlite')
print("Database Created")
theCursor = db_conn.cursor()
printsteps()

Database Created
Check Your Directory for the CSV

In [4]:
st=pd.read_csv('steps.csv')
st.columns=["time","intensity","steps","category"]

In [10]:
st.head(1)

                 time  intensity  steps  category
0 2017-07-14 00:06:00         27      0         0

In [6]:
st['time'] = st['time'].apply(lambda x: np.int(x.replace("(","")))
st['category'] = st['category'].apply(lambda x: np.int(x.replace(")","")))

In [7]:
st['time'] = pd.to_datetime(st['time'],unit='s')

In [8]:
st.head(5)

                 time  intensity  steps  category
0 2017-07-14 00:06:00         27      0         0
1 2017-07-14 00:07:00         11      0        80
2 2017-07-14 00:08:00         27      0        80
3 2017-07-14 00:09:00         36      0        80
4 2017-07-14 00:10:00         30      0        80

In [11]:
st.to_csv('pro\steps1.csv',index=False)